$material-heading-shadow: 0 0 4px rgba(0, 0, 0, .5);
$material-card-shadow: 2px 3px 2px 2px rgba(0, 0, 0, .2);
$material-card-background-color: darken($white, 0);

$bg-main: lighten($blue, 15);

@mixin material-heading {
  box-shadow: $material-heading-shadow;
}

@mixin material-card {
  position: relative;
  border-radius: 2px;
  background-color: $material-card-background-color;
  box-shadow: $material-card-shadow;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
}

body {
  background-color: $bg-main;
}

.add-list--wrap {
  @include material-heading;
  margin-bottom: 4px;
  background-color: $color-primary;
}

.main-wrap {
  background-color: $bg-main;
}

.nav-list {
  &__card {
    height: 100%;
  }

  &__heading {
    @include heading-font;
    padding-left: .25rem;
  }
}

.card {
  @include material-card;
  // padding: 0 .75rem .75rem;

  &--left {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--right {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--top {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--bottom {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.todo-list {
  @include content-font;
}
